<html>
  <head>
    <title>Biology Graphing App</title>
    <!-- import Cytoscape Web stuff-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="json2.min.js"></script>
    <script type="text/javascript" src="AC_OETags.min.js"></script>
    <script type="text/javascript" src="cytoscapeweb.min.js"></script>
    <!-- import Cytoscape.js stuff -->
    <script src="cytoscape.js"></script>
    <!-- import Twitter stylesheet -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- import Angular js version 1.3.10 -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <!-- import Angular ui-router -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <!-- import angular js files -->
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/States/studentHomeState.js"></script>
    <script src="/javascripts/States/teacherHomeState.js"></script>
    <script src="/javascripts/States/documentsState.js"></script>
    <script src="/javascripts/States/sectionsState.js"></script>
    <script src="/javascripts/States/assignmentsState.js"></script>
    <script src="/javascripts/States/loginState.js"></script>
    <script src="/javascripts/States/registerState.js"></script>
    <script src="/javascripts/Factories/documentsFctry.js"></script>
    <script src="/javascripts/Factories/sectionsFctry.js"></script>
    <script src="/javascripts/Factories/assignmentsFctry.js"></script>
    <script src="/javascripts/Factories/authFctry.js"></script>
    <script src="/javascripts/Controllers/studentHomeCtrl.js"></script>
    <script src="/javascripts/Controllers/teacherHomeCtrl.js"></script>
    <script src="/javascripts/Controllers/documentsCtrl.js"></script>
    <script src="/javascripts/Controllers/sectionsCtrl.js"></script>
    <script src="/javascripts/Controllers/assignmentsCtrl.js"></script>
    <script src="/javascripts/Controllers/authCtrl.js"></script>
    <script src="/javascripts/Controllers/navCtrl.js"></script>

    <!-- import w2ui -->
    <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.4.3.min.css" />
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="http://w2ui.com/src/w2ui-1.4.3.min.js"></script>

    <!-- set cursor to pointer on thumbs-up icon -->
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>

    <style>
        #cy {
            width: 100%;
            height: 97%;
            top: 0px;
            left: 0px;
        }
        #toolbar {
            width: 100%;
            height: 3%;
            bottom: 0px;
            left: 0px;
        }
    </style>

  </head>
  <body ng-app="biologyGraphingApp">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>
  </body>
</html>
