<html>
  <head>
    <title>Biology Graphing App</title>
    <!-- import Cytoscape Web stuff-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="json2.min.js"></script>
    <script type="text/javascript" src="AC_OETags.min.js"></script>
    <script type="text/javascript" src="cytoscapeweb.min.js"></script>
    <!-- import Twitter stylesheet -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- import Angular js version 1.3.10 -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <!-- import Angular ui-router -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <!-- import angular js files -->
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/States/studentHomeState.js"></script>
    <script src="/javascripts/States/teacherHomeState.js"></script>
    <script src="/javascripts/States/documentsState.js"></script>
    <script src="/javascripts/States/sectionsState.js"></script>
    <script src="/javascripts/States/assignmentsState.js"></script>
    <script src="/javascripts/States/loginState.js"></script>
    <script src="/javascripts/States/registerState.js"></script>
    <script src="/javascripts/Factories/documentsFctry.js"></script>
    <script src="/javascripts/Factories/sectionsFctry.js"></script>
    <script src="/javascripts/Factories/assignmentsFctry.js"></script>
    <script src="/javascripts/Factories/authFctry.js"></script>
    <script src="/javascripts/Controllers/studentHomeCtrl.js"></script>
    <script src="/javascripts/Controllers/teacherHomeCtrl.js"></script>
    <script src="/javascripts/Controllers/documentsCtrl.js"></script>
    <script src="/javascripts/Controllers/sectionsCtrl.js"></script>
    <script src="/javascripts/Controllers/assignmentsCtrl.js"></script>
    <script src="/javascripts/Controllers/authCtrl.js"></script>
    <script src="/javascripts/Controllers/navCtrl.js"></script>

    <!-- import w2ui -->
    <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.4.3.min.css" />
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="http://w2ui.com/src/w2ui-1.4.3.min.js"></script>

    <!-- set cursor to pointer on thumbs-up icon -->
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>

    <style>
              * { margin: 0; padding: 0; font-family: Helvetica, Arial, Verdana, sans-serif; }
              html, body { height: 100%; width: 100%; padding: 0; margin: 0; background-color: #f0f0f0; }
              body { line-height: 1.5; color: #000000; font-size: 14px; }
              /* The Cytoscape Web container must have its dimensions set. */
              #cytoscapeweb { width: 100%; height: 100%; }
              #content { width: 100%; height: 90%; }
    </style>

  </head>
  <body ng-app="biologyGraphingApp">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>

    <!-- Student Home Template -->
    <script type="text/ng-template" id="/student/home.html">
      <div class="page-header">
        <h1>Your Documents</h1>
        <span>
          <a ng-click="logout()">Logout</a>
        </span>
      </div>

      <!-- List documents -->
      <form>
      <div ng-repeat="document in documents" ng-show="isLoggedIn()">
        <span>
          <a href="#/documents/{{document._id}}">{{document.title}}</a>
        </span>
        <span>
          <button ng-click="deleteDocument(document)">Delete</button>
        </span>
        <span>
          <input ng-model="selections.document" type="radio" name="documentsRadio" ng-value="document">
        </span>
        <span>
          {{document.status}}
        </span>
        <span>
          {{document.submittedTo.title}}
        </span>
      </div>
      </form>

      <!-- Add a Document -->
      <form ng-submit="addDocument()" style="margin-top:30px;">

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" ng-model="newDocTitle"></input>
        </div>

        <button type="submit" class="btn btn-primary">Add Document</button>
      </form>

      <!-- List sections -->
      <br/>
      <h2>Sections</h2>
      <form>
      <div ng-repeat="section in sections" ng-show="isLoggedIn()">
        <span>
          <h4>&nbsp;&nbsp;{{section.title}}</h4>
          <!-- List assignments -->
          <div ng-repeat="assignment in section.assignments" ng-show="isLoggedIn()">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input ng-model="selections.assignment" type="radio" name="assignmentsRadio" ng-value="assignment">{{assignment.title}}
          </div>
        </span>
      </div>
      </form>

      <br/>
      <form ng-submit="addSubmission()" style="margin-top:30px;">
        <button type="submit" class="btn btn-primary">Submit Document to Assignment</button>
      </form>

    </script>

    <!-- Teacher Home Template -->
    <script type="text/ng-template" id="/teacher/home.html">
      <div class="page-header">
        <h1>Your Classes</h1>
        <span>
          <a ng-click="logout()">Logout</a>
        </span>
      </div>

      <!-- List sections -->
      <div ng-repeat="section in sections" ng-show="isLoggedIn()">

        <!-- Link to Section -->
        <span>
          <a href="#/sections/{{section._id}}">{{section.title}}</a>
        </span>
        <span>
          <button ng-click="deleteSection(section)">Delete</button>
        </span>
      </div>

      <form ng-submit="addSection()" style="margin-top:30px;">

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" ng-model="newSectionTitle"></input>
        </div>

        <button type="submit" class="btn btn-primary">Add Section</button>
      </form>
    </script>

    <!-- Documents Template -->
    <script type="text/ng-template" id="/documents.html">
      <div id="content" class="half_and_half">
        Cytoscape Web will replace the contents of this div with your graph.
      </div>
      <div id="toolbar" style="width: 100%; height: 50px;"></div>
      <br/>
      <h4>Current Grade: {{document.grade}}</h4>
      <form ng-submit="updateGrade()" style="margin-top:30px;" ng-show="isTeacher">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Grade (percentage)" ng-model="newGrade"></input>
        </div>
        <button type="submit" class="btn btn-primary">Update Grade</button>
      </form>
    </script>

    <!-- Sections Template -->
    <script type="text/ng-template" id="/sections.html">
      <div class="page-header">
        <h1>{{title}}</h1>
      </div>

      <!-- List teachers -->
      <h3>Teachers</h3>
      <div ng-repeat="teacher in teachers" ng-show="isLoggedIn()">
        <span>
          {{teacher.email}}
        </span>
      </div>
      <!-- List students -->
      <h3>Students</h3>
      <div ng-repeat="student in students" ng-show="isLoggedIn()">
        <span>
          {{student.email}}
        </span>
      </div>
      <!-- List assignments -->
      <h3>Assignments</h3>
      <div ng-repeat="assignment in assignments" ng-show="isLoggedIn()">
        <span>
          <a href="#/assignments/{{assignment._id}}">{{assignment.title}}</a> - {{assignment.description}}
        </span>
      </div>
      <br/><br/>
      <!-- Add assignment -->
      <form ng-submit="addAssignment()" style="margin-top:30px;">

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" ng-model="newTitle"></input>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Description" ng-model="newDescription"></input>
        </div>

        <button type="submit" class="btn btn-primary">Add Assignment</button>
      </form>
      <br/><br/>
      <!-- Add student -->
      <form ng-submit="addStudentToSection()" style="margin-top:30px;">

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Student Email" ng-model="studentEmail"></input>
        </div>

        <button type="submit" class="btn btn-primary">Add Student</button>
      </form>
    </script>

    <!-- Assignments Template -->
    <script type="text/ng-template" id="/assignments.html">
      <div class="page-header">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
      </div>

      <!-- List submissions -->
      <h3>Submissions</h3>
      <div ng-repeat="submission in submissions" ng-show="isLoggedIn()">
        <span>
          <a href="#/documents/{{submission._id}}">{{submission.title}}</a>
        </span>
      </div>
    </script>

    <!-- Register Template -->
    <script type="text/ng-template" id="/register.html">
  	  <div class="page-header">
  	    <h1>Register</h1>
  	  </div>

  	  <div ng-show="error" class="alert alert-danger row">
  	    <span>{{ error.message }}</span>
  	  </div>

  	  <form ng-submit="register()"
  	    style="margin-top:30px;">
  	    <h3>Register</h3>

  	    <div class="form-group">
  	      <input type="text"
  	      class="form-control"
  	      placeholder="Email"
  	      ng-model="user.email"></input>
  	    </div>
  	    <div class="form-group">
  	      <input type="password"
  	      class="form-control"
  	      placeholder="Password"
  	      ng-model="user.password"></input>
  	    </div>
  	    <div class="form-group">
  	      <input type="password"
  	      class="form-control"
  	      placeholder="Confirm Password"
  	      ng-model="user.confirmPassword"></input>
  	    </div>
        <div>
          <input type="checkbox" ng-model="teacherAccount"> Teacher Account
        </div>
        <br/>
  	    <button type="submit" class="btn btn-primary">Register</button>
  	  </form>
      <br/>
      <div>
        <span>
          <a href="#/login">Login</a>
        </span>
      </div>
  	</script>

    <!-- Login Template -->
  	<script type="text/ng-template" id="/login.html">
  	  <div class="page-header">
  	    <h1>Login</h1>
  	  </div>

  	  <div ng-show="error" class="alert alert-danger row">
  	    <span>{{ error.message }}</span>
  	  </div>

  	  <form ng-submit="logIn()"
  	    style="margin-top:30px;">
  	    <h3>Log In</h3>

  	    <div class="form-group">
  	      <input type="text"
  	      class="form-control"
  	      placeholder="Email"
  	      ng-model="user.email"></input>
  	    </div>
  	    <div class="form-group">
  	      <input type="password"
  	      class="form-control"
  	      placeholder="Password"
  	      ng-model="user.password"></input>
  	    </div>
        <div>
          <input type="checkbox" ng-model="teacherAccount"> Teacher Account
        </div>
        <br/>
  	    <button type="submit" class="btn btn-primary">Log In</button>
  	  </form>
      <br/>
      <div>
        <span>
          <a href="#/register">Register</a>
        </span>
      </div>
    </script>

  </body>
</html>
