<div>
  <div class="page-header">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
  </div>

  <!-- List submissions -->
  <table st-table="submissions" class="table table-striped">
    <thead>
      <tr>
      	<th st-sort="title" st-sort-default="true"><b style="cursor:pointer;">Submission Title</b></th>
      	<th st-sort="student"><b style="cursor:pointer;">Submission Owner</b></th>
      	<th st-sort="status"><b style="cursor:pointer;">Submission Status</b></th>
      	<th st-sort="grade"><b style="cursor:pointer;">Submission Grade</b></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="submission in submissions">
      	<td><a href="#/documents/{{submission._id}}">{{submission.title}}</a></td>
      	<td>{{submission.student.email}}</td>
      	<td>{{submission.status}}</td>
      	<td>{{submission.grade}}%</td>
      </tr>
    </tbody>
  </table>
</div>
