<div>
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <!-- List assignments -->
  <table st-table="assignments" class="table table-striped">
    <thead>
      <tr>
      	<th st-sort="title" st-sort-default="true"><b style="cursor:pointer;">Assignment Title</b></th>
      	<th><b>Assignment Description</b></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="assignment in assignments">
      	<td><a href="#/assignments/{{assignment._id}}">{{assignment.title}}</a></td>
      	<td>{{assignment.description}}</td>
      </tr>
    </tbody>
  </table>
  <!-- Create assignment -->
  <button type="button" ng-click="createAssignment()" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus"></i> Create Assignment
	</button>
  <br/>
  <br/>
  <br/>
  <!-- List students -->
  <table st-table="students" class="table table-striped">
    <thead>
      <tr>
      	<th st-sort="email" st-sort-default="true"><b style="cursor:pointer;">Enrolled Students</b></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="student in students">
      	<td>{{student.email}}</td>
      </tr>
    </tbody>
  </table>
  <!-- Add student -->
  <button type="button" ng-click="addStudentToSection()" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus"></i> Add Students
	</button>
</div>
