<div>
  <div class="page-header">
    <h1>Your Documents</h1>
  </div>

  <!-- List documents -->
  <form>
  <div ng-repeat="document in documents" ng-show="isLoggedIn()">
    <span>
      <a href="#/documents/{{document._id}}">{{document.title}}</a>
    </span>
    <span>
      <button ng-click="deleteDocument(document)">Delete</button>
    </span>
    <span>
      <input ng-model="selections.document" type="radio" name="documentsRadio" ng-value="document">
    </span>
    <span>
      {{document.status}}
    </span>
    <span>
      {{document.submittedTo.title}}
    </span>
  </div>
  </form>

  <style type="text/css">
  .st-sort-ascent:before{
    content: '\25B2';
  }

  .st-sort-descent:before{
    content: '\25BC';
  }
  </style>
  <table st-table="documents" class="table table-striped">
    <thead>
      <tr>
      	<th st-sort="title">Document Title</th>
      	<th st-sort="status">Document Status</th>
      	<th st-sort="submittedTo.title">Submitted To</th>
      	<th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="document in documents">
      	<td>{{document.title}}</td>
      	<td>{{document.status}}</td>
      	<td>{{document.submittedTo.title}}</td>
        <td>
    			<button type="button" ng-click="deleteDocument(document)" class="btn btn-sm btn-danger">
    				<i class="glyphicon glyphicon-remove-circle"></i>
    			</button>
		    </td>
      </tr>
    </tbody>
  </table>

  <!-- Add a Document -->
  <button type="button" ng-click="addDocument()" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus">
			</i> Add Document
	</button>

  <!-- List sections -->
  <br/>
  <h2>Sections</h2>
  <form>
  <div ng-repeat="section in sections" ng-show="isLoggedIn()">
    <span>
      <h4>&nbsp;&nbsp;{{section.title}}</h4>
      <!-- List assignments -->
      <div ng-repeat="assignment in section.assignments" ng-show="isLoggedIn()">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input ng-model="selections.assignment" type="radio" name="assignmentsRadio" ng-value="assignment">{{assignment.title}}
      </div>
    </span>
  </div>
  </form>

  <br/>
  <form ng-submit="addSubmission()" style="margin-top:30px;">
    <button type="submit" class="btn btn-primary">Submit Document to Assignment</button>
  </form>
</div>
