<div>
  <div class="page-header">
    <h1>Your Documents</h1>
    <span>
      <a ng-click="logout()">Logout</a>
    </span>
  </div>

  <!-- List documents -->
  <form>
  <div ng-repeat="document in documents" ng-show="isLoggedIn()">
    <span>
      <a href="#/documents/{{document._id}}">{{document.title}}</a>
    </span>
    <span>
      <button ng-click="deleteDocument(document)">Delete</button>
    </span>
    <span>
      <input ng-model="selections.document" type="radio" name="documentsRadio" ng-value="document">
    </span>
    <span>
      {{document.status}}
    </span>
    <span>
      {{document.submittedTo.title}}
    </span>
  </div>
  </form>

  <!-- Add a Document -->
  <form ng-submit="addDocument()" style="margin-top:30px;">

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Title" ng-model="newDocTitle"></input>
    </div>

    <button type="submit" class="btn btn-primary">Add Document</button>
  </form>

  <!-- List sections -->
  <br/>
  <h2>Sections</h2>
  <form>
  <div ng-repeat="section in sections" ng-show="isLoggedIn()">
    <span>
      <h4>&nbsp;&nbsp;{{section.title}}</h4>
      <!-- List assignments -->
      <div ng-repeat="assignment in section.assignments" ng-show="isLoggedIn()">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input ng-model="selections.assignment" type="radio" name="assignmentsRadio" ng-value="assignment">{{assignment.title}}
      </div>
    </span>
  </div>
  </form>

  <br/>
  <form ng-submit="addSubmission()" style="margin-top:30px;">
    <button type="submit" class="btn btn-primary">Submit Document to Assignment</button>
  </form>
</div>
