<div>
  <div class="page-header">
    <center><h1>Your Documents</h1></center>
  </div>

<!-- List Documents -->
  <table st-table="documents" class="table table-striped">
    <thead>
      <tr>
      	<th st-sort="title" st-sort-default="true"><b style="cursor:pointer;">Document Title</b></th>
      	<th st-sort="status"><b style="cursor:pointer;">Document Status</b></th>
      	<th st-sort="submittedTo.title"><b style="cursor:pointer;">Submitted To</b></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="document in documents">
      	<td>{{document.title}}</td>
      	<td>{{document.status}}{{ document.grade ? ': ' + document.grade + '%' : '' }}</td>
      	<td>
          <div ng-show="document.submittedTo">{{document.submittedTo.title}}</div>
          <div ng-hide="document.submittedTo"><button type="button" ng-click="submitDocument(document)" class="btn btn-primary">Submit</button></div>
        </td>
        <td>
          <button type="button" ng-click="editDocument(document)" class="btn btn-primary">
            <i class="glyphicon glyphicon-pencil" ng-show="document.status == 'unsubmitted'"></i>
            <i class="glyphicon glyphicon-search" ng-hide="document.status == 'unsubmitted'"></i>
            {{ document.status == 'unsubmitted' ? ' Edit' : ' View' }}
          </button>
      </td>
        <td><button type="button" ng-click="cloneDocument(document)" class="btn btn-primary">Clone</button></td>
        <td><button type="button" ng-click="renameDocument(document)" class="btn btn-primary">Rename</button></td>
        <td>
    			<button type="button" ng-click="deleteDocument(document)" class="btn btn-danger">
    				<i class="glyphicon glyphicon-remove-circle"></i>
    			</button>
		    </td>
      </tr>
    </tbody>
  </table>

  <!-- Add a Document -->
  <button type="button" ng-click="addDocument()" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus"></i> Add Document
	</button>

  <!-- List sections -->
  <br/><br/>
  <div class="page-header">
    <center><h1>Enrolled Sections</h1></center>
  </div>

  <table st-table="sections" class="table">
    <tbody>
      <tr ng-repeat="section in sections">
      	<td><h3>{{section.title}}</h3></td>
        <td>
          <table st-table="assignments" class="table table-striped">
            <tr>
              <th>Assignments</th>
              <th>Description</th>
            </tr>
            <tr ng-repeat="assignment in section.assignments">
              <td>{{assignment.title}}</td>
              <td>{{assignment.description}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

</div>
