<div>
  <div class="page-header">
    <h1>Your Sections</h1>
  </div>

  <!-- List sections -->
  <table st-table="sections" class="table table-striped">
    <thead>
      <tr>
      	<th st-sort="title" st-sort-default="true"><b style="cursor:pointer;">Section Title</b></th>
      	<th><b>Delete Section</b></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="section in sections">
      	<td><a href="#/sections/{{section._id}}">{{section.title}}</a></td>
      	<td><button ng-click="deleteSection(section)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></button></td>
      </tr>
    </tbody>
  </table>

  <br/>
  <button type="button" ng-click="addSection()" class="btn btn-sm">
			<i class="glyphicon glyphicon-plus"></i> Add Section
	</button>
</div>
